<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ 'css/style.css' | relative_url }}">
</head>
<body>


<div id="header">
  <span class='big'>{{ site.title }}</span>
  <span class='small'>{{ site.subtitle }}</span>
</div>

<div id="nav">
  <a href="{{ 'index.html' | relative_url }}">About</a> •
  <a href="{{ 'two.html'   | relative_url }}">Experience</a> •
  <a href="{{ 'three.html' | relative_url }}">Writing</a> •
  <a href="{{ 'four.html' | relative_url }}">Design</a> •
  <a href="{{ 'https://www.instagram.com/twinmystery/' target='_blank' | relative_url }}">[#]</a> 
</div>

<div id="content">
  {{ content }}
</div>

</body>
</html>

